#root {
  width: 100%;
  font-family: sans-serif;
}

/*----------------------------TopNavLink----------------------------------------*/
.top-nav-line {
  background-color: #f04438;
  color: aliceblue;
  height: 40px;
  font-size: x-small;
  padding: 0 40px 0 40px;
}
.top-nav-line-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.top-nav-line-links > p:hover {
  text-decoration: underline;
  color: aliceblue;
}

/*---------------------SearchBarDIv-------------------------------------------*/
.header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  width: 100%;
}

.searchBar-main-div {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 80px;
  justify-content: center;
}
.searchBar-main-div .img1 {
  width: 200px;
}
.searchBar-main-div .img2 {
  width: 180px;
  height: 50px;
}
.cartUserImg p {
  font-size: 18px;
  color: rgb(52, 50, 50);
}

/*---------------Iteams-Link-Div------------------------------------------*/
.nav-item-div {
  box-shadow: 0px 4px 8px rgba(180, 180, 180, 0.8);
}

.nav-iteam {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: rgb(52, 50, 50);
  justify-content: center;
  gap: 50px;
}

.nav-item .active {
  color: #00aeef;
}


.cardItemDiv {
  border-top: 2px solid #00aeef;
  /* display: none; */
  position: absolute;
  background-color: white;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 15px;

}
.secondItemList{
padding: 0px 10px 0px 10px;
border-left: 1px solid rgb(235, 235, 235);
border-right: 1px solid rgb(235, 235, 235);
}
.thirdItemList{
  color: #00aeef;
}
/* .nav-item:hover{
  display: block;
} */
/*------------Carousle------------------------*/
.carousel{
  width: 330px;
  height: 550px;
  border:1px solid #00aeef;
}
/*---------DashBoard----------------*/
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}

.product-table {
  margin-top: 20px;
}

.category-stats {
  display: flex;
}

.stats-table,
.stats-chart {
  flex: 1;
  padding: 20px;
}

.stats-chart canvas {
  max-height: 300px; /* Adjust as needed */
}

@media (max-width: 600px) {
  .searchBar-main-div {
    flex-direction: column;
    gap: 20px;
  }
  .search-input-dev {
    width: 100%;
  }
}
